<% if @todo.errors.any? %>
  <h2> Błędy w formularzu </h2>
  <ul>
    <% @todo.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @todo do |f| %>
<p>
  <%= f.label :name %> </br>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %> </br>
  <%= f.text_area :description %> </br>
</p>
<p>
  <%= f.submit "Zapisz" %>
</p>
<% end %>

<%= link_to "Domowa", todos_path %>
