<h1> Wszystkie ToDo </h1>

<p>
	<%= link_to "Stwórz ToDo", new_todo_path %>
</p>
<table>
	
	<tr>
		<th>
			Name
		</th>
		<th>
			Description
		</th>
	</tr>
	<% @todos.each do |todo| %>
		<tr>
			<td>
				<%= todo.name  %>
			</td>
			<td>
				<%= todo.description %>
			</td>
			<td>
				<%= link_to "Edycja", edit_todo_path(todo) %>
			</td>
			<td>
				<%= link_to "Pokaż", todo_path(todo) %>
			</td>
			<td>
				<%= link_to "Usuń", todo_path(todo), method: :delete, data: {confirm: "Czy jesteś pewien ?"} %>
			</td>
		</tr>
	<% end %>
</table>