<h1> Pokazanie ToDo </h1>

<p>
  id: <%= @todo.id %>
</p>
<p>
  name: <%= @todo.name %>
</p>
<p>
  description: <%= @todo.description %>
</p>

<p>
	<%= link_to "Domowa", todos_path %> 
	<%= link_to "Edycja", edit_todo_path(@todo) %>
</p>